body {
    background-color: #FFFFF0; 
    font-family: Arial, sans-sensitif;
    color: #191970;
}

.kartu-profil {
     width: 300px;
     margin: 50px auto;
     pedding: 20px;
     background-color: white;
     border-radius: 15px;
     box-shadow: 0 4px 8px rgba (0,0,0,0.1) ;
}

.kartu-profil img {
     width: 150px;
     bordir-radiu: 50%;
}
